MarkusNotes/
Syllabus.log
ThingsThatGoFasterThanLight.pdf
Tipler_Llewellyn.pdf
*/*aux
*/*log
*/*out
*/#*
/Grades/CourseRoster_S25_33211_A_02.11.2025.csv
/ProblemExamples/
/Grades/names_Spring2025.txt
